#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.blackSquare{
  background: rgb(118 150 86);
  color : #fff
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:hover{
  background-color: rgb(163, 14, 14);
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}